---
// src/components/sections/Synopsis.astro
---

<section
  id="sinopsis"
  class="py-24 bg-transparent transition-colors duration-300 overflow-hidden relative"
>
  <div
    class="container mx-auto px-6 grid grid-cols-1 lg:grid-cols-2 gap-8 md:gap-16 items-center"
  >
    <div data-aos="fade-right" data-aos-duration="1000">
      <img
        src="/familia.jpg"
        alt="Winden"
        class="rounded border border-stone-200 dark:border-stone-900 shadow-2xl dark:shadow-amber-900/10 transition duration-300 filter grayscale hover:grayscale-0 w-full object-cover"
      />
    </div>

    <div
      class="space-y-6 md:space-y-8"
      data-aos="fade-left"
      data-aos-duration="1000"
      data-aos-delay="200"
    >
      <h2
        class="text-3xl md:text-5xl font-cinzel text-amber-950 dark:text-amber-500 font-bold tracking-[0.1em] transition-colors uppercase"
      >
        Winden
      </h2>
      <p
        class="text-base md:text-lg text-stone-800 dark:text-stone-300 font-light leading-relaxed transition-colors tracking-wide"
      >
        En Winden (2019), un pequeño pueblo ficticio situado en Alemania, la
        desaparición de un niño pone en alerta a todos los vecinos. El cuerpo de
        policía trata de investigar el caso sin hallar ninguna explicación.
      </p>
      <p
        class="text-base md:text-lg text-stone-800 dark:text-stone-300 font-light leading-relaxed transition-colors tracking-wide"
      >
        En el municipio viven cuatro familias: los Kahnwald, los Nielsen, los
        Doppler y los Tiedemann. Todas permanecen unidas ante los misteriosos
        acontecimientos. Sin embargo, todo cambia el día que Mikkel, el hijo
        menor de la familia Nielsen, desaparece sin dejar rastro.
      </p>
      <div class="pt-2 h-px w-24 bg-amber-500 transition-colors"></div>
    </div>
  </div>
</section>
