<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Familia Tiedemann</title>
    <link href="../estilo.css"  rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <script src="../js/bootstrap.bundle.min.js"></script>
    <link rel="shortcut icon" href="../img/logo.ico"/>
    <style type="text/css">
        body, html {
            height: 100%;
            background-color:#212529;
            color:white;
        }
      </style>
</head>
<body>

  <div class="alert alert-info alert-dismissible alert-small fade show text-center fw-bold fs-5 mb-0">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      <i class="bi bi-info-circle-fill"></i>&nbsp; PARA MÁS INFORMACIÓN PULSAR ENCIMA DEL NOMBRE DEL PERSONAJE.
  </div> 

  <!-- CABECERA DE LA PÁGINA WEB -->
  <header class="mt-0">
    <nav class="navbar navbar-expand-md navbar-dark sticky-top navegar">
        <div class="container-fluid">

            <!-- BOTON TOGGLER -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar_plegable">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- ENLACES -->
            <div class="collapse navbar-collapse justify-content-center" id="navbar_plegable">
                <div class=" d-block d-md-none">
                  <ul class="navbar-nav menuNav">
                    <li class="navbar-item pe-1">
                        <a href="../personajes.html" class="nav-link text-light fw-bold me-3 ms-3"><i class="bi bi-house "></i> Inicio</a>
                    </li>
                    <li class="nav-item pe-1">
                        <a class="nav-link text-light fw-bold me-3 ms-3" href="#jonas1">Regina</a>
                    </li>
                    <li class="nav-item pe-1">
                        <a class="nav-link text-light fw-bold me-3 ms-3" href="#hanna1">Alexander</a>
                    </li>   
                    <li class="navbar-item pe-1">
                        <a class="nav-link text-light fw-bold me-3 ms-3" href="#mikkel1">Bartosz</a>
                    </li>
                    <li class="navbar-item pe-1">
                        <a class="nav-link text-light fw-bold me-3 ms-3" href="#ines1">Claudia</a>
                    </li>
                    <li class="navbar-item pe-1">
                        <a class="nav-link text-light fw-bold me-3 ms-3" href="#egon1">Egon</a>
                    </li>
                    <li class="navbar-item pe-1">
                        <a class="nav-link text-light fw-bold me-3 ms-3" href="#doris1">Doris</a>
                    </li>
                    <li class="navbar-item pe-1">
                        <a class="nav-link text-light fw-bold me-3 ms-3" href="#silja1">Silja</a>
                    </li>
                  </ul>
                </div>
                
                <div class="d-none d-md-block">
                  <ul class="navbar-nav menuNav ">
                    <li class="navbar-item pe-1">
                        <a href="../personajes.html" class="nav-link text-light fw-bold me-3 ms-3"><i class="bi bi-house "></i> Inicio</a>
                    </li>
                    <li class="nav-item pe-1">
                        <a class="nav-link text-light fw-bold me-3 ms-3" href="#jonas">Regina</a>
                    </li>
                    <li class="nav-item pe-1">
                        <a class="nav-link text-light fw-bold me-3 ms-3" href="#hanna">Alexander</a>
                    </li>   
                    <li class="navbar-item pe-1">
                        <a class="nav-link text-light fw-bold me-3 ms-3" href="#mikkel">Bartosz</a>
                    </li>
                    <li class="navbar-item pe-1">
                        <a class="nav-link text-light fw-bold me-3 ms-3" href="#ines">Claudia</a>
                    </li>
                    <li class="navbar-item pe-1">
                        <a class="nav-link text-light fw-bold me-3 ms-3" href="#egon">Egon</a>
                    </li>
                    <li class="navbar-item pe-1">
                        <a class="nav-link text-light fw-bold me-3 ms-3" href="#doris">Doris</a>
                    </li>
                    <li class="navbar-item pe-1">
                        <a class="nav-link text-light fw-bold me-3 ms-3" href="#silja">Silja</a>
                    </li>
                </ul>
                </div>
            </div>
        </div>
    </nav>
  </header>

  <div class="parallaxRegina d-none d-md-block"><a name="jonas">
    <a type="button" class="btn" data-bs-toggle="modal" data-bs-target="#myModal">
      <div class="text">Regina</div>
    </a></a>
  </div>

  <div class="parallaxReginaMV d-block d-md-none"><a name="jonas1">
    <a type="button" class="btn" data-bs-toggle="modal" data-bs-target="#myModal">
      <div class="text">Regina</div>
    </a></a>
  </div>

  <div class="text-center">
    <div id="main">
      <a class="btn btn-dark" href="#"><i class="bi bi-arrow-up"></i> VOLVER ARRIBA <i class="bi bi-arrow-up"></i></a>  
    </div>
  </div>

  <div class="parallaxAlexander d-none d-md-block"><a name="hanna">
    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modalAlexander">
      <div class="text2">Alexander Kohler (Tiedemann)</div></a>
    </button></a>
  </div>

  <div class="parallaxAlexanderMV d-block d-md-none"><a name="hanna1">
    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modalAlexander">
      <div class="text2">Alexander Kohler (Tiedemann)</div></a>
    </button></a>
  </div>

  <div class="text-center">
    <div id="main">
      <a class="btn btn-dark" href="#"><i class="bi bi-arrow-up"></i> VOLVER ARRIBA <i class="bi bi-arrow-up"></i></a>  
    </div>
  </div>
      
  <div class="parallaxBartos d-none d-md-block"><a name="mikkel">
    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modalBartos">
      <div class="text2">Bartosz</div></a>
    </button></a>
  </div>

  <div class="parallaxBartosMV d-block d-md-none"><a name="mikkel1">
    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modalBartos">
      <div class="text2">Bartosz</div></a>
    </button></a>
  </div>

  <div class="text-center">
    <div id="main">
      <a class="btn btn-dark" href="#"><i class="bi bi-arrow-up"></i> VOLVER ARRIBA <i class="bi bi-arrow-up"></i></a>  
    </div>
  </div>

  <div class="parallaxClaudia d-none d-md-block"><a name="ines">
    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modalClaudia">
      <div class="text3">Claudia Tiedemann</div>
    </button></a>
  </div>

  <div class="parallaxClaudiaMV d-block d-md-none"><a name="ines1">
    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modalClaudia">
      <div class="text3">Claudia Tiedemann</div>
    </button></a>
  </div>

  <div class="text-center">
    <div id="main">
      <a class="btn btn-dark" href="#"><i class="bi bi-arrow-up"></i> VOLVER ARRIBA <i class="bi bi-arrow-up"></i></a>  
    </div>
  </div>

  <div class="parallaxEgon d-none d-md-block"><a name="egon">
    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modalEgon">
      <div class="text3">Egon Tiedemann</div>
    </button></a>
  </div>

  <div class="parallaxEgonMV d-block d-md-none"><a name="egon1">
    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modalEgon">
      <div class="text3">Egon Tiedemann</div>
    </button></a>
  </div>

  <div class="text-center">
    <div id="main">
      <a class="btn btn-dark" href="#"><i class="bi bi-arrow-up"></i> VOLVER ARRIBA <i class="bi bi-arrow-up"></i></a>  
    </div>
  </div>

  <div class="parallaxDoris d-none d-md-block"><a name="doris">
    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modalDoris">
      <div class="text3">Doris Tiedemann</div>
    </button></a>
  </div>

  <div class="parallaxDorisMV d-block d-md-none"><a name="doris1">
    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modalDoris">
      <div class="text3">Doris Tiedemann</div>
    </button></a>
  </div>

  <div class="text-center">
    <div id="main">
      <a class="btn btn-dark" href="#"><i class="bi bi-arrow-up"></i> VOLVER ARRIBA <i class="bi bi-arrow-up"></i></a>  
    </div>
  </div>

  <div class="parallaxSilja d-none d-md-block"><a name="silja">
    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modalSilja">
      <div class="text">Silja</div>
    </button></a>
  </div>

  <div class="parallaxSiljaMV d-block d-md-none"><a name="silja1">
    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modalSilja">
      <div class="text">Silja</div>
    </button></a>
  </div>

  <div class="text-center">
    <div id="main">
      <a class="btn btn-dark" href="#"><i class="bi bi-arrow-up"></i> VOLVER ARRIBA <i class="bi bi-arrow-up"></i></a>  
    </div>
  </div>

  <!-- Ventana Modal Jonas -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content bg-dark">

            <!-- MODAL HEADER -->
            <div class="modal-header">
                <h3 class="modal-title">Regina</h3>
                <button type="button" class="btn btn-dark" data-bs-dismiss="modal" style="font-size:1.4em"><i class="bi bi-x-lg"></i></button>
            </div>

            <!-- MODAL BODY -->
            <div class="modal-body">
              <div class=" mx-auto text-center" style="background-color:transparent; font-size:17px;">
                Es hija de Claudia, nieta de Egon, esposa de Alexander y madre de Bartosz. Regina, interpretada por Lydia Makrides (1986) y Deborah Kaufmann (2019), es la encargada del único hotel que hay en el pueblo de Winden.
                <div class="container mt-4">
                  <ul class="nav nav-tabs nav-justified prueba ">
                    <li class="nav-item">
                        <a class="nav-link active prueba2" href="#jonasA" data-bs-toggle="tab">Mundo de Adam</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link prueba2" href="#jonasO" data-bs-toggle="tab">Origen</a>
                  </li>
                    <li class="nav-item">
                        <a class="nav-link prueba2" href="#jonasE" data-bs-toggle="tab">Mundo Eva</a>
                    </li>
                  </ul>
                  </div>
                  <div class="tab-content text-start">
                    <div id="jonasA" class="container tab-pane active"><br>
                        <h4>Mundo de Adam</h4>
                        <p>Después de la desaparición de los niños en el pueblo está preocupada ya que su hotel ha perdido toda su clientela. Pronto descubre que está enferma de cáncer. En el año 2020 el propio Tronte Nielsen se encarga de matarla.</p>
                    </div>
                    <div id="jonasE" class="container tab-pane fade"><br>
                        <h4>Mundo de Eva</h4>
                        <p>No aparece, Jonas descubre que murió.</p>
                    </div>
                    <div id="jonasO" class="container tab-pane fade"><br>
                        <h4>Origen</h4>
                        <p>Si existe.</p>
                    </div>
                  </div>
                <!-- <a href="prueba.html">Volver a la pantalla de personajes</a> -->
              </div>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
  </div>

  <!-- Ventana Modal Alexander-->
  <div class="modal fade" id="modalAlexander">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content bg-dark">

            <!-- MODAL HEADER -->
            <div class="modal-header">
                <h3 class="modal-title">Alexander</h3>
                <button type="button" class="btn btn-dark" data-bs-dismiss="modal" style="font-size:1.4em"><i class="bi bi-x-lg"></i></button>
            </div>

            <!-- MODAL BODY -->
            <div class="modal-body">
              <div class=" mx-auto text-center" style="background-color:transparent;font-size:17px;">
                Es el esposo de Regina y padre de Bartosz. En 1986, en ambos mundos, cambia su verdadera identidad atribuyéndose un pasaporte con el nombre de Alexander Kohler. Asimismo, trabaja en la central nuclear como director.
              </div>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
  </div>

  <!-- Ventana Modal Bartos-->
  <div class="modal fade" id="modalBartos">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content bg-dark">

            <!-- MODAL HEADER -->
            <div class="modal-header">
                <h3 class="modal-title">Bartosz </h3>
                <button type="button" class="btn btn-dark" data-bs-dismiss="modal" style="font-size:1.4em"><i class="bi bi-x-lg"></i></button>
            </div>

            <!-- MODAL BODY -->
            <div class="modal-body">
              <div class=" mx-auto text-center" style="background-color:transparent;font-size:17px;">
                Paul Lux es Bartosz, el hijo de Regina y Alexander, también nieto de Claudia Tiedemann.
                <div class="container mt-4">
                  <ul class="nav nav-tabs nav-justified prueba ">
                    <li class="nav-item">
                        <a class="nav-link active prueba2" href="#mikelA" data-bs-toggle="tab">Mundo Adam</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link prueba2" href="#mikelO" data-bs-toggle="tab">Origen</a>
                  </li>
                    <li class="nav-item">
                        <a class="nav-link prueba2" href="#mikelE" data-bs-toggle="tab">Mundo Eva</a>
                    </li>
                  </ul>
                  </div>
                  <div class="tab-content text-start">
                    <div id="mikelA" class="container tab-pane active"><br>
                        <h4>Mundo de Adam</h4>
                        <p>Al principio es el mejor amigo de Jonas. Sin embargo, su relación cambia cuando empieza una relación amorosa con Martha Nielsen. Por otro 
                            lado, es persuadido por Noah y termina colaborando para él. Finalmente se descubre que, en realidad, Bartosz es el padre de Noah, a quien tuvo 
                            con Silja.</p>
                    </div>
                    <div id="mikelE" class="container tab-pane fade"><br>
                        <h4>Mundo de Eva</h4>
                        <p>Es un joven que está deprimido tras la muerte de su madre y su padre, el director de la planta nuclear no le presta mucha atención.</p>
                    </div>
                    <div id="mikelO" class="container tab-pane fade"><br>
                        <h4>Origen</h4>
                        <p>No existe.</p>
                    </div>
                  </div>
                <!-- <a href="prueba.html">Volver a la pantalla de personajes</a> -->
              </div>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
  </div>

  <!-- Ventana Modal Claudia-->
  <div class="modal fade" id="modalClaudia">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content bg-dark">

            <!-- MODAL HEADER -->
            <div class="modal-header">
                <h3 class="modal-title">Claudia</h3>
                <button type="button" class="btn btn-dark" data-bs-dismiss="modal" style="font-size:1.4em"><i class="bi bi-x-lg"></i></button>
            </div>

            <!-- MODAL BODY -->
            <div class="modal-body">
              <div class=" mx-auto text-center" style="background-color:transparent;font-size:17px;">
                <p>
                    Las actrices Gwendolyn Göbel (1952), Julika Jenkins (1986) y Lisa Krewzer interpretan a Claudia, la hija de Egon y Doris, y también es la madre de Regina.
                </p>
                <p>
                    En 1986 se pone al frente de la central nuclear de Winden, entonces descubre los viajes en el tiempo. Finalmente se termina convirtiendo en la asesina de 
                    su padre cuando intentaba salvarlo de la muerte.
                </p>
                <p>
                    Está presente tanto en el mundo de Eva como en el de Adam, pues una de sus misiones es la de evitar la muerte de su hija. Al final, descubre que la 
                    única forma de que Regina no muera es salvar el mundo de origen y destrozar los dos mundos. Una foto de Regina con sus padres nos demuestra en la escena 
                    final que Claudia si existe en el origen.
                </p>
              </div>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
      </div>
    </div>
  </div>

    <!-- Ventana Modal Bartos-->
    <div class="modal fade" id="modalEgon">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content bg-dark">

                <!-- MODAL HEADER -->
                <div class="modal-header">
                    <h3 class="modal-title">Egon </h3>
                    <button type="button" class="btn btn-dark" data-bs-dismiss="modal" style="font-size:1.4em"><i class="bi bi-x-lg"></i></button>
                </div>

                <!-- MODAL BODY -->
                <div class="modal-body">
                    <div class=" mx-auto text-center" style="background-color:transparent;font-size:17px;">
                        Sebastian Hülk (1952) y Christian Pätzold (1986) dan vida al padre de Claudia y el esposo de Doris.
                    <div class="container mt-4">
                        <ul class="nav nav-tabs nav-justified prueba ">
                        <li class="nav-item">
                            <a class="nav-link active prueba2" href="#egonA" data-bs-toggle="tab">Mundo Adam</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link prueba2" href="#egonO" data-bs-toggle="tab">Origen</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link prueba2" href="#egonE" data-bs-toggle="tab">Mundo Eva</a>
                        </li>
                        </ul>
                        </div>
                        <div class="tab-content text-start">
                        <div id="egonA" class="container tab-pane active"><br>
                            <h4>Mundo de Adam</h4>
                            <p>Es jefe de policía en 1953 hasta su retirada del cuerpo policial, en 1986, año en que muere. Investiga a Ulrich Nielsen, quien aparece 
                                de manera misteriosa en 1953. Se obsesiona con el caso de los niños desaparecidos y sospecha sobre los viajes en el tiempo. Cuando Hannah 
                                viaja a 1954 conciben a Silja. Aunque Egon nunca se entera de la existencia de esta hija.</p>
                        </div>
                        <div id="egonE" class="container tab-pane fade"><br>
                            <h4>Mundo de Eva</h4>
                            <p>Aparece de adulto y forma parte del bando de la luz.</p>
                        </div>
                        <div id="egonO" class="container tab-pane fade"><br>
                            <h4>Origen</h4>
                            <p>No aparece, aunque podría existir.</p>
                        </div>
                        </div>
                    <!-- <a href="prueba.html">Volver a la pantalla de personajes</a> -->
                    </div>
                </div>

                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Ventana Modal Doris-->
    <div class="modal fade" id="modalDoris">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content bg-dark">

                <!-- MODAL HEADER -->
                <div class="modal-header">
                    <h3 class="modal-title">Doris</h3>
                    <button type="button" class="btn btn-dark" data-bs-dismiss="modal" style="font-size:1.4em"><i class="bi bi-x-lg"></i></button>
                </div>

                <!-- MODAL BODY -->
                <div class="modal-body">
                    <div class=" mx-auto text-center" style="background-color:transparent;font-size:17px;">
                        Luise Heyer es Doris en la serie. Está casada con Egon con quien tiene a su hija Claudia. Sin embargo, está enamorada de Agnes Nielsen, con la que mantiene una relación en secreto.
                    </div>
                </div>

                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Ventana Modal Silja-->
    <div class="modal fade" id="modalSilja">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content bg-dark">

                <!-- MODAL HEADER -->
                <div class="modal-header">
                    <h3 class="modal-title">Silja</h3>
                    <button type="button" class="btn btn-dark" data-bs-dismiss="modal" style="font-size:1.4em"><i class="bi bi-x-lg"></i></button>
                </div>

                <!-- MODAL BODY -->
                <div class="modal-body">
                    <div class=" mx-auto text-center" style="background-color:transparent;font-size:17px;">
                        Es la hija de Hannah y de Egon. Es la encargada de criar a Elisabeth Doppler y después vive en el devastado Winden tras el apocalipsis en 2052. Después, regresa al pasado a 1890, donde conoce a Bartosz y tiene junto a él a Hanno y Agnes. En el nacimiento de esta última Silja fallece.
                    </div>
                </div>

                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>


</body>
</html>