<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Familia Kahnwald</title>
    <link href="../estilo.css"  rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <script src="../js/bootstrap.bundle.min.js"></script>
    <link rel="shortcut icon" href="../img/prueba2.ico"/>
    <style type="text/css">
        body, html {
            height: 100%;
            background-color:#212529;
            color:white;
        }
      </style>
</head>
<body>

  <div class="alert alert-info alert-dismissible alert-small fade show text-center fw-bold fs-5 mb-0">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      <i class="bi bi-info-circle-fill"></i>&nbsp; PARA MÁS INFORMACIÓN PULSAR ENCIMA DEL NOMBRE DEL PERSONAJE.
  </div> 

  <!-- CABECERA DE LA PÁGINA WEB -->
  <header class="mt-0">
    <nav class="navbar navbar-expand-sm navbar-dark sticky-top navegar">
        <div class="container-fluid">

            <!-- BOTON TOGGLER -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar_plegable">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- ENLACES -->
            <div class="collapse navbar-collapse justify-content-center" id="navbar_plegable">
                <div class=" d-block d-md-none">
                  <ul class="navbar-nav menuNav">
                    <li class="navbar-item pe-1">
                        <a href="../personajes.html" class="nav-link text-light fw-bold me-3 ms-3"><i class="bi bi-house "></i> Inicio</a>
                    </li>
                    <li class="nav-item pe-1">
                        <a class="nav-link text-light fw-bold me-3 ms-3" href="#jonas1">Jonas</a>
                    </li>
                    <li class="nav-item pe-1">
                        <a class="nav-link text-light fw-bold me-3 ms-3" href="#hanna1">Hannah Kruger</a>
                    </li>   
                    <li class="navbar-item pe-1">
                        <a class="nav-link text-light fw-bold me-3 ms-3" href="#mikkel1">Michael/Mikkel</a>
                    </li>
                    <li class="navbar-item pe-1">
                        <a class="nav-link text-light fw-bold me-3 ms-3" href="#ines1">Ines</a>
                    </li>
                  </ul>
                </div>
                
                <div class="d-none d-md-block">
                  <ul class="navbar-nav menuNav ">
                    <li class="navbar-item pe-1">
                        <a href="../personajes.html" class="nav-link text-light fw-bold me-3 ms-3"><i class="bi bi-house "></i> Inicio</a>
                    </li>
                    <li class="nav-item pe-1">
                        <a class="nav-link text-light fw-bold me-3 ms-3" href="#jonas">Jonas</a>
                    </li>
                    <li class="nav-item pe-1">
                        <a class="nav-link text-light fw-bold me-3 ms-3" href="#hanna">Hannah Kruger</a>
                    </li>   
                    <li class="navbar-item pe-1">
                        <a class="nav-link text-light fw-bold me-3 ms-3" href="#mikkel">Michael/Mikkel</a>
                    </li>
                    <li class="navbar-item pe-1">
                        <a class="nav-link text-light fw-bold me-3 ms-3" href="#ines">Ines</a>
                    </li>
                </ul>
                </div>
            </div>
        </div>
    </nav>
  </header>

  <div class="parallax d-none d-md-block"><a name="jonas">
    <a type="button" class="btn" data-bs-toggle="modal" data-bs-target="#myModal">
      <div class="text">JONAS</div>
    </a></a>
  </div>

  <div class="parallax4 d-block d-md-none"><a name="jonas1">
    <a type="button" class="btn" data-bs-toggle="modal" data-bs-target="#myModal">
      <div class="text">JONAS</div>
    </a></a>
  </div>

  <div class="text-center">
    <div id="main">
      <a class="btn btn-dark" href="#"><i class="bi bi-arrow-up"></i> VOLVER ARRIBA <i class="bi bi-arrow-up"></i></a>  
    </div>
  </div>

  <div class="parallax2 d-none d-md-block"><a name="hanna">
    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#myModal">
      <div class="text1">Hannah Krüger</div></a>
    </button></a>
  </div>

  <div class="parallax5 d-block d-md-none"><a name="hanna1">
    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#myModal">
      <div class="text1">Hannah Krüger</div></a>
    </button></a>
  </div>

  <div class="text-center">
    <div id="main">
      <a class="btn btn-dark" href="#"><i class="bi bi-arrow-up"></i> VOLVER ARRIBA <i class="bi bi-arrow-up"></i></a>  
    </div>
  </div>
      
  <div class="parallax3 d-none d-md-block"><a name="mikkel">
    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modalMikel">
      <div class="text2">Michael Kahnwald/ Mikkel Nielsen</div></a>
    </button></a>
  </div>

  <div class="parallax6 d-block d-md-none"><a name="mikkel1">
    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modalMikel">
      <div class="text2">Michael Kahnwald/ Mikkel Nielsen</div></a>
    </button></a>
  </div>

  <div class="text-center">
    <div id="main">
      <a class="btn btn-dark" href="#"><i class="bi bi-arrow-up"></i> VOLVER ARRIBA <i class="bi bi-arrow-up"></i></a>  
    </div>
  </div>

  <div class="parallax8 d-none d-md-block"><a name="ines">
    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modalInes">
      <div class="text3">Ines Kahnwald</div>
    </button></a>
  </div>

  <div class="parallax7 d-block d-md-none"><a name="ines1">
    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modalInes">
      <div class="text3">Ines Kahnwald</div>
    </button></a>
  </div>

  <div class="text-center">
    <div id="main">
      <a class="btn btn-dark" href="#"><i class="bi bi-arrow-up"></i> VOLVER ARRIBA <i class="bi bi-arrow-up"></i></a>  
    </div>
  </div>

  <!-- Ventana Modal Jonas -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content bg-dark">

            <!-- MODAL HEADER -->
            <div class="modal-header">
                <h3 class="modal-title">Jonas</h3>
                <button type="button" class="btn btn-dark" data-bs-dismiss="modal" style="font-size:1.4em"><i class="bi bi-x-lg"></i></button>
            </div>

            <!-- MODAL BODY -->
            <div class="modal-body">
              <div class="mx-auto text-center" style="background-color:transparent; font-size:17px;">
                Es el protagonista de la serie y está interpretado por los actores Louis Hofmann ( 2019), Andreas Pietschmann (2052) y Dietrich Hollinderbäumer (Adam).
                <div class="container mt-4">
                  <ul class="nav nav-tabs nav-justified prueba ">
                    <li class="nav-item">
                        <a class="nav-link active prueba2" href="#jonasA" data-bs-toggle="tab">Mundo de Adam</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link prueba2" href="#jonasO" data-bs-toggle="tab">Origen</a>
                  </li>
                    <li class="nav-item">
                        <a class="nav-link prueba2" href="#jonasE" data-bs-toggle="tab">Mundo Eva</a>
                    </li>
                  </ul>
                  </div>
                  <div class="tab-content text-start">
                    <div id="jonasA" class="container tab-pane active"><br>
                        <h4>Mundo de Adam</h4>
                        <p>Es hijo de Michael Kahnwald y Hannah. Después del suicidio de su padre trata de recuperarse psicológicamente y está enamorado de Martha Nielsen. 
                          También es el misterioso desconocido que viaja a través del tiempo y que trata de acabar con los viajes en el tiempo. Finalmente, en la segunda temporada, 
                          se sabe que Jonas también es Adam, quien quiere dominar en la guerra contra el tiempo y provocar un apocalipsis.</p>
                    </div>
                    <div id="jonasE" class="container tab-pane fade"><br>
                        <h4>Mundo de Eva</h4>
                        <p>Este personaje no existe en esta realidad. Pero Jonas del mundo de Adam viaja hasta este mundo y descubre que allí no está vivo.</p>
                    </div>
                    <div id="jonasO" class="container tab-pane fade"><br>
                        <h4>Origen</h4>
                        <p>No existe, la única vez que está presente en el origen es cuando evita el accidente del hijo de Tannhaus, para que este no cree la máquina del tiempo.</p>
                    </div>
                  </div>
                <!-- <a href="prueba.html">Volver a la pantalla de personajes</a> -->
              </div>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
  </div>

  <!-- Ventana Modal Hanna-->
  <div class="modal fade" id="modalHanna">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content bg-dark">

            <!-- MODAL HEADER -->
            <div class="modal-header">
                <h3 class="modal-title">Hanna</h3>
                <button type="button" class="btn btn-dark" data-bs-dismiss="modal" style="font-size:1.4em"><i class="bi bi-x-lg"></i></button>
            </div>

            <!-- MODAL BODY -->
            <div class="modal-body">
              <div class=" mx-auto text-center" style="background-color:transparent;font-size:17px;">
                Las actrices Maja Schöne y Ella Lee dan vida a Hannah Krüger (Kahnwald de casada) la madre de Jonas y viuda de Michael Kahnwald. Hannah existe en los tres mundos, con vidas diferentes:
                
                <div class="container mt-4">
                  <ul class="nav nav-tabs nav-justified prueba ">
                    <li class="nav-item">
                        <a class="nav-link active prueba2" href="#hannaA" data-bs-toggle="tab">Mundo Adam</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link prueba2" href="#hannaO" data-bs-toggle="tab">Origen</a>
                  </li>
                    <li class="nav-item">
                        <a class="nav-link prueba2" href="#hannaE" data-bs-toggle="tab">Mundo Eva</a>
                    </li>
                  </ul>
                  </div>
                  <div class="tab-content text-start">
                    <div id="hannaA" class="container tab-pane active"><br>
                        <h4>Mundo de Adam</h4>
                        <p>Es la madre de Jonas y viuda de Michael Kahnwald. Es fisioterapeuta de la planta nuclear de Winden y, desde pequeña, ha estado interesada en Ulrich 
                          Nielsen hasta el punto de obsesionarse con él. En la edad adulta son amantes. Hannah viaja al año 1954 y mantiene una relación con Egon Tiedemann con el que 
                          tiene a una niña llamada Silja.</p>
                    </div>
                    <div id="hannaE" class="container tab-pane fade"><br>
                        <h4>Mundo de Eva</h4>
                        <p>Está casada con Ulrich Nielsen y espera un hijo. Sospecha que su marido le es infiel con Charlotte Doppler.</p>
                    </div>
                    <div id="hannaO" class="container tab-pane fade"><br>
                        <h4>Origen</h4>
                        <p>Hannah es amiga de Regina, Katharina y Peter. Está embarazada de un niño, al que le llamará Jonas.</p>
                    </div>
                  </div>
              </div>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
  </div>

  <!-- Ventana Modal Mikkel-->
  <div class="modal fade" id="modalMikel">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content bg-dark">

            <!-- MODAL HEADER -->
            <div class="modal-header">
                <h3 class="modal-title">Mikkel </h3>
                <button type="button" class="btn btn-dark" data-bs-dismiss="modal" style="font-size:1.4em"><i class="bi bi-x-lg"></i></button>
            </div>

            <!-- MODAL BODY -->
            <div class="modal-body">
              <div class=" mx-auto text-center" style="background-color:transparent;font-size:17px;">
                Es el detonante de la serie, cuando se suicida deja una carta a Jonas y da paso a muchos interrogantes.
                <div class="container mt-4">
                  <ul class="nav nav-tabs nav-justified prueba ">
                    <li class="nav-item">
                        <a class="nav-link active prueba2" href="#mikelA" data-bs-toggle="tab">Mundo Adam</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link prueba2" href="#mikelO" data-bs-toggle="tab">Origen</a>
                  </li>
                    <li class="nav-item">
                        <a class="nav-link prueba2" href="#mikelE" data-bs-toggle="tab">Mundo Eva</a>
                    </li>
                  </ul>
                  </div>
                  <div class="tab-content text-start">
                    <div id="mikelA" class="container tab-pane active"><br>
                        <h4>Mundo de Adam</h4>
                        <p>Michael Kahnwald y Mikkel Nielsen son la misma persona. Michael Kahnwald, interpretado por Sebastian Rudolph, es el padre de Jonas, esposo de Hannah e 
                          hijo adoptivo de Ines. Mikkel Nielsen, interpretado por Daan Lennard, es el hijo menor de Ulrich Nielsen y Katherina Nielsen. Al comienzo de la serie desaparece 
                          misteriosamente en las cuevas en 2019 y viaja en el tiempo a 1986, cuando sus padres son adolescentes.</p>
                    </div>
                    <div id="mikelE" class="container tab-pane fade"><br>
                        <h4>Mundo de Eva</h4>
                        <p>No existe Michael Kahnwald pero si Mikkel Nielsen.</p>
                    </div>
                    <div id="mikelO" class="container tab-pane fade"><br>
                        <h4>Origen</h4>
                        <p>No existe.</p>
                    </div>
                  </div>
                <!-- <a href="prueba.html">Volver a la pantalla de personajes</a> -->
              </div>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
  </div>

  <!-- Ventana Modal Ines-->
  <div class="modal fade" id="modalInes">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content bg-dark">

            <!-- MODAL HEADER -->
            <div class="modal-header">
                <h3 class="modal-title">Ines Kahnwald</h3>
                <button type="button" class="btn btn-dark" data-bs-dismiss="modal" style="font-size:1.4em"><i class="bi bi-x-lg"></i></button>
            </div>

            <!-- MODAL BODY -->
            <div class="modal-body">
              <div class=" mx-auto text-center" style="background-color:transparent;font-size:17px;">
                Lena Urzendowksky (1953), Anne Ratte-Polle (1986) y Angelas Winkler ( 2019) dan vida a este personaje.
                
                <div class="container mt-4">
                  <ul class="nav nav-tabs nav-justified prueba">
                    <li class="nav-item">
                        <a class="nav-link active prueba2" href="#inesA" data-bs-toggle="tab">Mundo Adam</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link prueba2" href="#inesO" data-bs-toggle="tab">Origen</a>
                  </li>
                    <li class="nav-item">
                        <a class="nav-link prueba2" href="#inesE" data-bs-toggle="tab">Mundo Eva</a>
                    </li>
                  </ul>
                  </div>
                  <div class="tab-content text-start">
                    <div id="inesA" class="container tab-pane active"><br>
                        <h2 class="mb-3">Mundo de Adam</h2>
                        <p>Es la madre adoptiva de Michael Kahnwald, en 1986 conoce a Mikkel Nielsen cuando trabaja de enfermera y decide quedarse con él para evitar que vaya a un hogar infantil. No tiene buena relación con su nuera Hannah.</p>
                    </div>
                    <div id="inesE" class="container tab-pane fade"><br>
                        <h2 class="mb-3">Mundo de Eva</h2>
                        <p>No existe, pues Mikkel no ha viajado en el tiempo.</p>
                    </div>
                    <div id="inesO" class="container tab-pane fade"><br>
                        <h2 class="mb-3">Origen</h2>
                        <p>No existe.</p>
                    </div>
              </div>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
      </div>
    </div>
  </div>
  
</body>
</html>