---
// src/components/Carousel.astro
---
<div id="ejemplo-carousel" class="carousel slide mb-4 col-10 mx-auto" data-bs-ride="carousel" data-aos="fade-up">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/public/img/Carousel/carousel2.jpg" alt="Fachada" class="d-block w-100">
        </div>
        </div>
</div>