---
// src/components/Footer.astro
---
<div class="container-fluid">
    <div class="row mt-4 mt-sm-5 mt-md-5 foot">
        <div class="col-9 mx-auto mt-2">
            <footer class="row mx-auto">
                <div class="col-12 col-sm-6 col-lg-4 col-xl-2 mb-3 mx-auto">
                    <h4 class="pt-3 pb-3 texto ps-0 text-center"> Información</h4>
                    <div class="pb-2 ps-1"><a href="https://es.wikipedia.org/wiki/Dark_(serie_de_televisi%C3%B3n)" target="_blank">Wikipedia</a></div>
                    <div class="pb-2 ps-1"><a href="https://www.netflix.com/es/title/80100172" target="_blank">Página Oficial Netfilx</a></div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 col-xl-2 mb-3 align-self-center mx-auto text-center">
                    <a href="#" class="oler ms-5"><img src="/public/img/prueba1.png" class="img-fluid mx-auto text-center" style="width:100%"></a>
                </div>
            </footer>
        </div>
        <div class="container-fluid">
            <footer class="row text-center foo2">
                <div class="col-12 pt-2 pb-4">
                    <div>Dafne Jiménez López&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="mailto:dafne.jimenez.lopez@gmail.com">dafne.jimenez.lopez@gmail.com</a> </div>
                </div>
            </footer>
        </div>
    </div>
</div>